:root {
	--primary-color: #333;
	--secondary-color: #fff;
	--font-family: 'Roboto', sans-serif;
	--font-size: 14px;
	--text-align: center;
	--min-height: 100vh;
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--secondary-color);
	text-align: var(--text-align);
	background-color: var(--primary-color);
	min-height: var(--min-height);
}
